extends layout
block content
  p.title Programas:
  a(href='/insertarPrograma',class="btn btn-primary aladerecha", role = "button") Nuevo 
  br
  br
  if(lista)
  
      table#datos.display(cellspacing='0')
        thead
          th Nombre
          th Descripción
          th 
          th
        each elemento, i in lista
          tr
            td  #{elemento.nombre_programa}
            td #{elemento.descripcion}
            td(class='celdacorta')
              a(href='/modificarPrograma?nombre_programa=#{elemento.nombre_programa}') Modificar
            td(class='celdacorta') 
              a(href='/eliminarPrograma?nombre_programa=#{elemento.nombre_programa}') Eliminar
              
