extends layout
block content
        p.title Modificar aporte
        br
        br
        br
        
        if(!datosaporte)
          form(role='form', action="/modificarAporteRedir",method="post")
            .form-group
              label(for='dniRedir') Dni del donante:
              input.form-control(type='text', name="dniRedir", placeholder='DNI')
              br
              label(for='nombre_programaRedir') Nombre del programa:
              input.form-control(type='text', name="nombre_programaRedir", placeholder='Programa al que aporta')
            button(type='submit',class="boton") Aceptar
      
        if(datosaporte)
          if(!datosaporte.existe)
            form(role='form', action="/modificarAporteRedir",method="post")
              .form-group
                label(for='dniRedir') Dni del donante:
                input.form-control(type='text', name="dniRedir", placeholder='DNI')
                br
                label(for='nombre_programaRedir') Nombre del programa:
                input.form-control(type='text', name="nombre_programaRedir", placeholder='Programa al que aporta')
              button(type='submit',class="boton") Aceptar
            p el aporte que selecciono no existe actualmente  
        
          if(datosaporte.existe)
            form(role='form', action="/modificarAporte",method="post")
              .form-group
                label(for='dni') Dni del donante:
                input.form-control(type='text', name="dni", placeholder='DNI',value=datosaporte.dni,readonly="true")
                br
                label(for="nombre_programa") Nombre del programa:
                input.form-control(type='text', name="nombre_programa", placeholder='Nombre del programa',value=datosaporte.nombre_programa,readonly="true")
                br
                label(for='monto') Monto del aporte:
                input.form-control(type='text', name="monto", placeholder='Monto',value=datosaporte.monto)
                br
                label(for='estado_cobro') Estado del cobro:
                input.form-control(type='text', name="estado_cobro", placeholder='Estado del cobro',value=datosaporte.estado_cobro)
                br
                label(for='frecuencia') Frecuencia con que aporta:
                select(name='frecuencia')
                  if (datosaporte.frecuencia == "Semestral")
                    option(value='Semestral',selected="true") Semestral
                  else
                    option(value='Semestral') Semestral
                  if (datosaporte.frecuencia == "Semestral")
                    option(value='Mensual',selected="true") Mensual
                  else
                    option(value='Mensual') Mensual
              button(type='submit',class="boton") Aceptar
