extends layout
block content
      center 
        p Selecciona un Banco
        form(role='form', action="/donantesPorBancoRedir",method="post", style='max-width: 300px;')
          .form-group
            select(name="nombre_bancoRedir")
              each banco, i in listabancos
                option(value=banco.nombre_banco)  #{banco.nombre_banco}
          button(type='submit',class="boton") Aceptar
        br
        br
        
        
        if(lista)
          form
            p  Buscar
            input#searchTerm(type='text', onkeyup='doSearch()')
          table#datos.display(cellspacing='0' class="sortable")
            tr
              th Dni
              th Nombre y apellido
            each elemento, i in lista
              tr
                td #{elemento.dni}
                td #{elemento.n_y_ap}
              
            
