extends layout
block content 
      center eliminar Programa 
        if(!datosprograma)  
          form(role='form', action="/eliminarProgramaRedir",method="post", style='max-width: 300px;')
            .form-group
              input.form-control(type='text', name="nombre_programaRedir", placeholder='Nombre del Programa')
            button(type='submit',class="boton") Aceptar
        
        if(datosprograma)  
          if(!(datosprograma.existeLogico)) 
            form(role='form', action="/eliminarProgramaRedir",method="post", style='max-width: 300px;')
              .form-group
                input.form-control(type='text', name="nombre_programaRedir", placeholder='Nombre del Programa')
            button(type='submit',class="boton") Aceptar
            p el nombre de programa no corresponde a ningun programa existente
          if(datosprograma.existeLogico) 
            p SEGURO QUE QUIERE ELIMINAR EL SIGUIENTE PROGRAMA?
            form(role='form', action="/eliminarPrograma",method="post", style='max-width: 300px;')
              .form-group
                input.form-control(type='text', name="nombre_programa", placeholder='NOMBRE DEL PROGRAMA',value=datosprograma.nombre_programa,readonly="true")
                input.form-control(type='text', name="descripcion", placeholder='DESCRIPCION',value=datosprograma.descripcion,readonly="true")
              button(type='submit',class="boton") Eliminar
              a(href="/register",class='.link') Cancelar
