extends layout

block content
  
  if (!user)
    br

    a(href="/login") <center><h1><b>Login<b><h1><center>

  


  if (user)
    center
      h2 BIENVENIDO #{user.username} AL SISTEMA DE LA CIUDAD DE LOS NIÑOS! (es hoy prro) 
      
