extends layout

block content
  
  if (!user)
    br

    a(href="/login") <center><h1><b>Login<b><h1><center>

  


  if (user)
    .text
      br
      br
      h2(align='JUSTIFY')
        b BIENVENIDO #{user.username} 
        br
        b AL SISTEMA DE 
        br
        b LA CIUDAD DE LOS NIÑOS! 
    .img
      img(src='/images/favicon.png', width='90%', height='90%')
      
