extends layout
block content
      center insertar aporte
        form(role='form', action="/insertarAporte",method="post", style='max-width: 300px;')
          .form-group
            input.form-control(type='text', name="dni", placeholder='DNI')
            select(name="nombre_programa")
              each programa, i in listaprogramas
                option(value=programa.nombre_programa)  #{programa.nombre_programa}
            
            select(name='tipo_pago')
              option(value='CREDITO') TARJETA DE CREDITO
              option(value='DEBITO') DEBITO
            
            input.form-control(type='text', name="cbu", placeholder='CBU')
            
            input.form-control(type='text', name="nro", placeholder='Numero de tarjeta de credito')
            select(name="nombre_tarjeta")
              each tarjeta, i in listatarjetas
                option(value=tarjeta.nombre_tarjeta)  #{tarjeta.nombre_tarjeta}

            input.form-control(type='text', name="monto", placeholder='monto')
            select(name='frecuencia')
              option(value='Semestral') Semestral
              option(value='Mensual') Mensual
              
          button(type='submit',class="boton") Aceptar
