extends layout
block content 
      center insertar credito 
        form(role='form', action="/insertarCredito",method="post", style='max-width: 300px;')
          .form-group
            input.form-control(type='text', name="nro", placeholder='NUMERO DE TARJETA')
            input.form-control(type='text', name="tipo_tarjeta", placeholder='TIPO DE LA TARJETA')
            input.form-control(type='text', name="nombre_titular", placeholder='NOMBRE DEL TITULAR')
            input.form-control(type='text', name="fecha_vencimiento", placeholder='FECHA DE VENCIMIENTO (DD/MM/AAA)')
            input.form-control(type='text', name="codigo_verificacion", placeholder='CODIGO DE VERIFICACION')
          button(type='submit',class="boton") Aceptar
          
