doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Proyecto Socio Comunitario - Ciudad de los niños
    link(rel='stylesheet', href='/stylesheets/style.css')  
    //- Hoja de estilos propia
        
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css')
    
    link(rel='shortcut icon', href='./images/favicon.jpg', type='image/x-icon') 
    //- script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')

    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/sb-admin.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='css/plugins/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') PSC - Proyecto CN
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li
            a(href='#')
              i.fa.fa-fw.fa-power-off.fa-2x
              |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li.active
              a(href='/listadoDonantes')
                i.fa.fa-fw.fa-dashboard.fa-2x
                |  Donantes
            li
              a(href='charts.html')
                i.fa.fa-fw.fa-file-o.fa-2x
                |  Contactos
            li
              a(href='tables.html')
                i.fa.fa-fw.fa-table.fa-2x
                |  Programas
            li
              a(href='/listadoAportes')
                i.fa.fa-fw.fa-usd.fa-2x
                |  Aportes
            
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                i.fa.fa-fw.fa-file-text.fa-2x
                |  Listados
                i.fa.fa-fw.fa-caret-down
              ul#demo.collapse
                li
                  a(href='#') Listado 1
                li
                  a(href='#') Listado 2
            
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          br
          block content
          

          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='http://cdn.datatables.net/1.10.3/css/jquery.dataTables.css')    
    script(src='http://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $('#datos').DataTable({
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json"
          }
        });
      });

	    
