extends layout
block content
  a(href='/insertarContacto',class="btn btn-primary aladerecha", role = "button") Nuevo 
  br
  center
    font(color='#5882FA', size='20') Contactos:
  if(lista)
    
      table#datos.display(cellspacing='0')
        thead
          th Dni
          th Nombre y apellido
          th 
          th 
        each elemento, i in lista
          tr
            td 
              a(href='/infoContacto?dni=#{elemento.dni}') #{elemento.dni}
            td #{elemento.n_y_ap}
            td(class='celdacorta')
              
            td(class='celdacorta')
              a(href='/eliminarContacto?dni=#{elemento.dni}') eliminar
                
