extends layout
block content
  if(lista)
    .tabla
      table#datos.display(cellspacing='0')
        thead
          th Dni
          th Nombre y apellido
          th 
          th 
        each elemento, i in lista
          tr
            td #{elemento.dni}
            td #{elemento.n_y_ap}
            td(class='celdacorta')
              a(href='/modificarDonante?dni=#{elemento.dni}') modificar
            td(class='celdacorta')
              a(href='/eliminarDonante?dni=#{elemento.dni}') eliminar
                
