extends layout
block content 
        p.title Modificar programa 
        br
        br
        br
        if(!datosprograma || !datosprograma.existe)  
          form(role='form', action="/modificarProgramaRedir",method="post")
            .form-group
              label(for='nombre_programaRedir') Nombre del programa:
              input.form-control(type='text', name="nombre_programaRedir", placeholder='NOMBRE DEL PROGRAMA')
            button(type='submit',class="boton") Aceptar
        if(datosprograma && datosprograma.existe)  
          form(role='form', action="/modificarPrograma",method="post")
            .form-group
              label(for='nombre_programa') Nombre del programa:
              input.form-control(type='text', name="nombre_programa", placeholder='NOMBRE DEL PROGRAMA',value=datosprograma.nombre_programa,readonly="true")
              br
              label(for='descripcion') Descripción:
              input.form-control(type='text', name="descripcion", placeholder='DESCRIPCION',value=datosprograma.descripcion)
            button(type='submit',class="boton") Aceptar
